<div id="menu-container"></div>

<script>
window._menuInitialData = {
  menus: <%- JSON.stringify(typeof menus !== 'undefined' ? menus : []) %>,
  bahan: <%- JSON.stringify(typeof bahan !== 'undefined' ? bahan : []) %>,
  pagination: <%- JSON.stringify(typeof pagination !== 'undefined' ? pagination : { page: 1, limit: 10, total: 0, totalPages: 1 }) %>,
  search: "<%= search || '' %>"
};
</script>